@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,500;1,500&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root {
    --light-text: #ffffff;
    --primary-green: #30d575;
    --secondary-cyan: #2bb9ac;
    --link-color: #a0a3b8;
}

body {
    font-family: 'Public Sans',sans-serif;
}

.image-header-custom1 {
    width: 50rem;
    top: -6rem;
    left: 5rem;
}
.image-header-custom2 {
    width: 37rem;
    left: 53.5rem;
    top: -4rem;
}
.image-cards-custom {
    width: 4rem;
    height: 4rem;
}
.card {
    width: 17.6rem;
}

.custom-footer {
    color: var(--light-text);
    padding: 40px 0;
}

.footer-link {
    color: var(--link-color);
    text-decoration: none;
    display: block; /* لجعل كل رابط يأخذ سطرًا جديدًا */
    margin-bottom: 8px; /* مسافة بين الروابط */
    font-size: 14px;
}

.footer-link:hover {
    color: var(--primary-green);
}

.social-icon {
    color: var(--light-text);
    font-size: 20px;
    margin-inline-end: 15px; /* مسافة بين الأيقونات */
    transition: color 0.3s;
}

.social-icon:hover {
    color: var(--primary-green);
}

.btn-request-invite:hover {
    opacity: 0.8;
    color: var(--light-text); /* لمنع تغيير لون النص عند التمرير */
}

.footer-logo {
    margin-bottom: 25px; /* مسافة تحت الشعار */
}

.link-custom {
    color: hsl(233, 8%, 62%);
}
.link-custom:hover {
    color: hsl(136, 64%, 51%);
}

.nav-link:hover {
    color: hsl(136, 64%, 51%);
}